.container{
    max-width: 1326px;
    width: 100%;
    margin: 0 auto;
    background-color: #fafafa;
}
.container-formedia{
    display: none;
}
.txt-formedia{
    display: none;
}
.media-footer{
    display: none;
}
header{
    max-width: 1276px;
    font-size: 12px;
    margin: 0 auto;
    background-color: #FFFFFF;
    border: 1px solid white;
    border-radius: 0 0 90px 90px;
    margin-bottom: 60px;
}
.language{
    display: none;
} 
.container1{
    max-width: 1276px;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.headerright{
    margin-top: 20px;
    width: 14%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burgermenu{
    display: flex;
    align-items: center;
    width: 25px;
    height: 16px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.burgermenu-1{
    width: 25px;
    height: 2px;
    background-color: black;
}
.num13{
    font-size: 12px;
    color: #F5621F;
    font-weight: 700;
    margin-left: 60%;
}
.imgandnam13{
   margin-top: -12px;
   margin-left: 20%;
}
.bin img{
    width: 18px;
    height: 17px;
    margin-bottom: 6px;
}
.search img{
    width: 22px;
    height: 22px;
    margin-bottom: 5px;
    margin-top: -2px;
}
.smile img{
    margin-top: -1px;
    margin-bottom: 5px;
    
}
.smile p{
   margin-left: -5px;
}
.dogimg{
    margin: 0 auto;
    max-width: 1186px;
    width: 100%;
    height: 280px;
    background-image: url(./img/headimg/dog.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.left-row{
    padding: 18px 16px 10px 16px;
    background-color:#FFFFFF ;
}
.right-row{
    padding: 18px 16px 10px 16px;
    background-color:#FFFFFF ;
}
.sale30{
    width: 45%;
    color: white;
    font-size: 24px;
    text-align: center;
}
.dogimg-btn{
    margin: 0 auto;
    text-align: center;
    width: 176px;
    font-size: 12px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.scrol1{
    width: 28px;
    height: 5px;
    background-color: #FFFFFF;
}
.scrol2{
    width: 12px;
    height: 5px;
    background-color: #707070;
}
.imgscrol{
    width: 68px;
    display: flex;
    justify-content: space-between;
}
.dogimg-txt{
    height: 71%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.dogimg-content{
    max-width: 1186px;
    height: 280px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container2{
    width: 100%;
    max-width: 1186px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
   padding: 0 30px;
}
.box1{
    display: flex;
    width: 23.5%;
    height: 90px;
    background-color: #F1F7E9;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 2px 2px 2px 2px #000000;
}
.box1:hover{
    box-shadow: 5px 5px 5px 5px #74B42C;
}
.box2{
    display: flex;
    width: 23.5%;
    height: 90px;
    background-color: #FEEFE8;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 2px 2px 2px 2px #000000;
}
.box2:hover{
    box-shadow: 5px 5px 5px 5px #FEEFE8;
}
.box3{
    display: flex;
    width: 23.5%;
    height: 90px;
    background-color: #EBF7FC;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 2px 2px 2px 2px #000000;
}
.box3:hover{
    box-shadow: 5px 5px 5px 5px #3CABE0;
}
.box4{
    display: flex;
    width: 23.5%;
    height: 90px;
    background-color: #FAF4FA;
    box-shadow: #FAF4FA;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 2px 2px 2px 2px #000000;
}
.box4:hover{
    box-shadow: 5px 5px 5px 5px #597DBC;
}
.box1-img{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3F0D4;
}
.box2-img{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDDFD2;
}
.box3-img{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3cace03a;
}
.box4-img{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(204, 150, 208, 0.2);
}
.box1-txt{
    width: 120px;
}
.box2-txt{
    width: 159px;
}
.box3-txt{
    width: 121px;
}
.box4-txt{
    width: 117px;
}
.span1{
    color: #74B42C;
}
.span2{
    color: #F5621F;
}
.span3{
    color: #3CABE0;
}
.span4{
    color: #CC96D0;
}
.container3{
    display: grid;
    grid-template-columns: 31% 65.7%;
    grid-column-gap: 1.3%;
    margin: 0 auto;
    max-width: 1190px;
    padding: 0 30px; 
}
.sub2container3{
    display: grid;
    grid-template-columns: 31% 31%;
    grid-column-gap: 18.5%;
    margin-bottom: 18px;
}
.subcontainer3{
    position: relative;
}
.dogworld{
    width: 100%;
    height: 426px;
    background-color: #F5621F;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.dogworld-txt div:first-child{
   color: white;
   font-size: 14px;
   position: absolute;
   left: 10%;
   top: 16%;
}
.dogworld-txt span{
    font-size: 24px;
}
.dogworld-txt-1 div:first-child{
    width: 68.5%;
    font-size: 18px;
    position: absolute;
    top: 25%;
    left: 10.6%;
}
.dogworld-btn{
    font-size: 12px;
    position: absolute;
    top: 47%;
    left: 10.5%;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.dogworld-img{
    position: absolute;
    top: 25.8%;
    left: 35.7%;
}
.fishworld{
    width: 156%;
    height: 202.83px;
    background-color: #3CABE0;
    overflow: hidden;
    border-radius: 10px;
}
.fishimg{
    position: absolute;
    bottom: 52.3%;
}
.fishworld-txt {
    width: 40%;
    position: absolute;
    left: 9%;
}
.fishworld-txt span{
    font-size: 24px;
  
}
.fishworld-txt div:first-child{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 40px;
    z-index: 4;
}
.fishworld-btn{
    font-size: 12px;
    position: absolute;
    top: 145px;
    left: 35%;
    width: 60%;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.birdworld{
    width: 156%;
    height: 202.83px;
    background-color: #74B42C;
   border-radius: 10px;
   position: relative;
}
.birdworldimg{
    position: absolute;
    bottom: -8%;
    right: -3%;
}
.birdworld-txt{
    position: absolute;
    z-index: 1;
    width: 60%;
    top: 15%;
    left: 10%;
}
.birdworld-txt div:first-child{
    color: white;
    font-size: 18px;
}
.birdworld-txt span{
    font-size: 24px;
}
.birdworld-btn{
    font-size: 12px;
    position: absolute;
    top: 110px;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.catworld{
    width: 99%;
    height: 200px;
    background-color: #F5AD00;
    overflow: hidden;
   border-radius: 10px;
   position: relative;
}
.catworld-img1{
   position: absolute;
   top:-60%;
   right: 72.6%;
}
.catworld-img2{
    position: absolute;
    right: 5%;
    top: 10%;
}
.cat-txt{
    position: absolute;
    top: 20%;
     left: 35%;
    z-index: 2;
}
.cat-txt div:first-child{
    width: 60%;
    color: white;
    font-size: 18px;
}
.cat-txt span{
    font-size: 24px;
}
.catworld-btn{
    font-size: 12px;
    position: absolute;
    top: 80px;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.container4{
    max-width: 1326px;
    margin: 0 auto;
}
.subcontainer4{
    max-width: 1300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.product-row-left{
    padding: 22px 17.3px 20px 17px;
    background-color: white;
}
.product-row-right{
    padding: 22px 17.3px 20px 17px;
    background-color: white;
}
.pedigre{
    width: 21%;
    height: 441px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.pedigre-txt p:first-child{
   font-size: 18px;
   margin-bottom: 8%;
   margin-right: 145px;
}
.pedigre-txt p:last-child{
    font-size: 12px;
    color: #6E6E6E;
}
.pedigre-img span{
    position: absolute;
    z-index: 3;
    font-size: 16px;
    color: white;
    padding: 8px;
    background-color: #F5621F;
}
.weight-box-pedigre{
    display: grid;
    grid-template-columns: 105px 105px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.weight-box-pedigre div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;
}
.weight-box-pedigre div:hover{
    background-color: #E7E7E7;
}
.pedigre-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.pedigre-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: green;
    margin-left: 90px;
    border-radius: 5px;
}
.price-pedigre{
    font-size: 24px;
    color: red;
    margin-top: 5px;
}
.price-pedigre span{
    font-size: 11px;
    color: black;text-decoration: line-through;
}
.royalcanin1{
    width: 21%;
    height: 441px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.royalcanin1 p:first-child{
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 145px;
 }
 .royalcanin1 p:last-child{
    font-size: 12px;
    color: #6E6E6E;
}
.weight-box-royalcanin1{
    display: grid;
    grid-template-columns: 105px 105px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}
.weight-box-royalcanin1 div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;
}
.weight-box-royalcanin1 div:hover{
    background-color: #E7E7E7;
}
.royalcanin1-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.royalcanin1-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: #F5621F;
    margin-left: 90px;
    border-radius: 5px;
}
.price-royalcanin1{
    margin-top: 10px;
    font-size: 24px;
    color: black;
    margin-top: 5px;
}
.royalcanin2{
    width: 21%;
    height: 441px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.royalcanin2 p:first-child{
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 145px;
 }
 .royalcanin2 p:last-child{
    font-size: 12px;
    color: #6E6E6E;
}
.weight-box-royalcanin2{
    display: grid;
    grid-template-columns: 105px 105px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-bottom: 70px;
}
.weight-box-royalcanin2 div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;
}
.weight-box-royalcanin2 div:hover{
    background-color: #E7E7E7;
}
.royalcanin2-footer{
    font-size: 14px;
    margin-right: 90px;
}
.royalcanin3{
    width: 21%;
    height: 441px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.royalcanin3 p:first-child{
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 145px;
 }
 .royalcanin3 p:last-child{
    font-size: 12px;
    color: #6E6E6E;
}
.weight-box-royalcanin3{
    display: grid;
    grid-template-columns: 105px 105px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin-bottom: 60px;
}
.weight-box-royalcanin3 div{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 105px;
    height: 35px;
    background-color: #F8F8F8;
}
.weight-box-royalcanin3 div:hover{
    background-color: #E7E7E7;
}
.royalcanin3-footer{
    display: flex;
   justify-content: space-between;
   width: 220px;
}
.price-royalcanin3{
    font-size: 24px;
}
.added-btn{
    border-radius: 5px;
    font-size: 12px;
    color: white;
    padding: 8px 13px 10px 13px;
    background-color: #F5621F;
}
.title{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title div:first-child{
    font-size: 28px;
}
.title div:last-child{
    font-size: 14px;
    color: #9C9C9C;
}
.container5{
    display: flex;
    margin: 20px auto;
    max-width: 1186px;
    justify-content: space-around;
}
.zoocard{
    width: 32%;
    height: 527.65px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
}
.card-txt{
    position: absolute;
    top: 10%;
    right: 18%;
    text-align: center;
    width: 60%;
    font-size: 24px;
}
.card-txt span{
    color: #74B42C;
}
#redspan{
    color: red;
}
.card1{
    position: absolute;
    top: 31%;
    z-index: 2;
}
.card2{
    position: absolute;
    top: 57%;
}
.card3{
    position: absolute;
    top: 41%;
    left: 18.5%;
    z-index: 1;
    transform: rotate(160deg);
}
.rabit{
    overflow: hidden;
    width: 32%;
    height: 527.65px;
    background-color: #FEE02E;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
}
.rabit-img2{
   position: absolute;
   left: 10%;
   top: 6%;
   z-index: 2;
}
.rabit-img1{
    position: absolute;
    top: 40%;
    right: 10%;
}
.rabit-btn{
    font-size: 12px;
    position: absolute;
    top: 25%;
    left: 10%;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.rabit-txt div:first-child{
    width: 40%;
    font-size: 18px;
    position: absolute;
    top: 10%;
    left: 10%;
}
.rabit-txt span{
    font-size: 24px;
}
.mostsaleproduct{
    width: 32%;
    height: 527.65px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 10px;
}
.most-btn{
    font-size: 12px;
    position: absolute;
    top: 80%;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: black;
    border-radius: 5px;
    color: white;
}
.most-left-row{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 18px 12px 10px 12px;
    background-color:black ;
}
.most-right-row{
    border-radius: 5px;
    width: 40px;
    height: 40px;
    padding: 18px 12px 10px 12px;
    background-color:black ;
}
.most-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}
.most-pedigre{
    position: absolute;
    top:70%;
}
.most-txt {
    left: 30px;
    top: 50px;
    position: absolute;
    width: 187px;
    font-size: 18px;
}

.container6{
    margin: 50px auto;
    background-color: #F5AD00;
    max-width: 1186px;
    height: 250px;
    display: flex;
    border-radius: 10px;
    flex: 0 1 auto;
    position: relative;
}
.turtle-img{
    position: absolute;
    right: 3%;
    top: -20%;
}
.turtle-txt{
    position: absolute;
    top: 20%;
    left: 10%;
}
.turtle-title{
    width: 50%;
    color: white;
    font-size: 32px;
}
.turtle-btn{
    margin-top: 30px;
    font-size: 12px;
    top: 25%;
    left: 10%;
    width: 161px;
    padding: 12px 21px 14px 24px;
    background-color: white;
    border-radius: 5px;
}
.brand{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1326px;
    margin: 0 auto;
}
.brand1{
    width: 13.3%;
    height: 90px;
    background-color: white;
    border-radius: 10px;
}
.brand-row-left{
    padding: 18px 16px 10px 16px;
    background-color:#FFFFFF ;
}
.brand-title{
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 6%;
    font-size: 28px;
}
.container8{
    margin-left: 90px;
    margin-top: 100px;
    max-width: 1085px;
    height: 213px;
    font-size: 12px;
    display: grid;
    grid-template-columns: 34.8% 9% 11.4% 16%;
    grid-column-gap: 9.2%;
    /* line-height: 18px; */
}
.title2{
    font-size: 14px;
    margin-bottom: 20px;
}
.txt2{
    /* height: 213px; */
    line-height: 30px;
}
.img-box1{
    margin-bottom: 20px;
}
.facebook{
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: flex-end;
}
.paymetod{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 6%;
    margin-top: 10%;
    margin-bottom: 2%;
}